div{
    background-color: black;
    width: 400px;
    border: solid 5px orange;
    text-align: center;

}
h1{
    color: white;
}
nav{
    display: inline-block;
    width: 198px;
    background-color: rgb(137, 137, 137);
}
a{
    display: block;
    color: rgb(59, 249, 1);
    text-decoration: none;
}
