/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Container do formulário */
.container {
    background-color: #fff;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

/* Estilo para o título */
h1 {
    color: #333;
    margin-bottom: 20px;
}

/* Estilo para os rótulos */
label {
    font-size: 14px;
    color: #555;
    margin-bottom: 8px;
    display: block;
    text-align: left;
}

/* Estilo para os campos de entrada */
input[type="text"] {
    width: 93%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

/* Estilo para o botão de envio */
input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

/* Efeito de hover no botão */
input[type="submit"]:hover {
    background-color: #45a049;
}
